
h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
     color: cornflowerblue;
}
  h2 {
     font-size: 24px;
     margin-top: 20px;
     color: cornflowerblue;
 }

  h3 {
     font-size: 22px;
     margin-top: 20px;
     color: cornflowerblue;
 }
h4 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    padding: 0 0 5px 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color : grey
}

h5 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

 h6 {
     font-family: "Open Sans", sans-serif;
     font-size: 16px;
     padding: 5px 15px;
     font-weight: 549;
     margin-bottom: 2px;
 }

.year-italics {
    font-size: 16px;
    background: rgba(179, 222, 251, 0.8);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
}
.main-column{
    padding :10px 15px;
    left-margin:20px;
    border: 0px solid red;
}
.italics {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    font-style: italic;
}
 .resume-title {
     font-size: 26px;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 20px;
     color: cornflowerblue;
 }
 .resume-item::before {

     content: "";
     position: absolute;
     width: 16px;
     height: 16px;
     border-radius: 50px;
     left: -9px;
     top: 10;
     background: cornflowerblue;
     border: 2px solid cornflowerblue;

 }
 .resume-item ul {
     padding-left: 20px;
     margin-left: 20px;
 }

 .resume-item ul li {
     padding-bottom: 10px;
 }

 .resume-item:last-child {
     padding-bottom: 0;
 }
.resume-item {
    padding: 0px 0px 20px 20px;
    border-left: 2px solid cornflowerblue;
    position: relative;
}
.resume-item-simple {
    padding: 0 0 20px 20px;
    position: relative;
}
 .blank {
     border: 1px solid black;
 }


 .rounded-background-label {
     border-radius: 5px;
     background: cornflowerblue;
     color: white;
     margin-top: 20px;
     padding: 10px 10px 10px 10px;
     display: inline-block;
 }

 .rounded-label {
     border-radius: 5px;
     background: cornflowerblue;
     border-color: black;
     padding: 10px;
     color: white;
     margin-top: 20px;
     padding-left: 15px;
     padding-bottom: 10px;
     padding-right: 10px;
     display: inline-block;
 }